
body {
  background-color: antiquewhite;
}

h1 {
  font-family: "Copperplate", sans-serif;
}

h2 {
  font-family: "Copperplate", sans-serif;
}

img {
  height: 128px; 
  width: 70px;
}

p {
  font-family:Arial, Helvetica, sans-serif;
}