
body {
  background-color: snow;
}

h1 {
  font-family: "Copperplate", sans-serif;
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-family: "Copperplate", sans-serif;
  text-align: center;
}

img {
  height: 128px; 
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}

.navbar {
 background-color: red;
 overflow: hidden;
text-align: center;
}
.navbar a {
  float: left;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.navbar a:hover {
  background-color: white;
  color: red;
}