
body {
  background-color: snow;
}

h1 {
  font-family: "Copperplate", sans-serif;
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-family: "Copperplate", sans-serif;
  text-align: center;
}

.logo {
  height: 128px; 
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}

.navbar {
 background-color: red;
 overflow: hidden;
text-align: center;
}
.navbar a {
  float: left;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.navbar a:hover {
  background-color: white;
  color: red;
}

.formation {
  position: relative;
}

.pitch {
  width: 20%;
  height: 40%;
  z-index: 0;
}

.goalkeeper {
  width: 4%;
  height: 10%;
  z-index: 10;
  position: absolute;
  left: 150px;
  bottom: 60px;
}

.leftback {
  width: 3%;
  height: 8%;
  z-index: 10;
  position: absolute;
  left: 30px;
  bottom: 140px;
}

.leftcentreback {
  width: 3%;
  height: 8%;
  z-index: 10;
  position: absolute;
  left: 120px;
  bottom: 140px;
}

.rightcentreback {
  width: 3%;
  height: 8%;
  z-index: 10;
  position: absolute;
  left: 200px;
  bottom: 140px;
}

.rightback {
  width: 3%;
  height: 8%;
  z-index: 10;
  position: absolute;
  left: 280px;
  bottom: 140px;
}