
body {
  background-color: snow;
}

h1 {
  font-family: "Copperplate", sans-serif;
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-family: "Copperplate", sans-serif;
  text-align: center;
}

h3 {
  font-family: "Copperplate", sans-serif;
  text-align: center;
}

.logo {
  height: 128px; 
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 22px;
}

.navbar {
 background-color: red;
 overflow: hidden;
text-align: center;
}
.navbar a {
  float: left;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.navbar a:hover {
  background-color: white;
  color: red;
}

.formation {
  position: relative;
  align-items: center;
  display: block;
  
}

.pitch {
  width: 20%;
  height: 40%;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
}

.goalkeeper {
  width: 4%;
  height: 12%;
  z-index: 10;
  position: absolute;
  left: 150px;
  bottom: 60px;
}

.leftback {
  width: 3%;
  height: 12%;
  z-index: 10;
  position: absolute;
  left: 30px;
  bottom: 140px;
}

.leftcentreback {
  width: 3%;
  height: 12%;
  z-index: 10;
  position: absolute;
  left: 120px;
  bottom: 140px;
}

.rightcentreback {
  width: 3%;
  height: 12%;
  z-index: 10;
  position: absolute;
  left: 200px;
  bottom: 140px;
}

.rightback {
  width: 3%;
  height: 12%;
  z-index: 10;
  position: absolute;
  left: 280px;
  bottom: 140px;
}

.centralmidfielder1 {
  width: 2%;
  height: 12%;
  z-index: 10;
  position: absolute;
  left: 120px;
  bottom: 220px;
}

.centralmidfielder2 {
  width: 3%;
  height: 12%;
  z-index: 10;
  position: absolute;
  left: 200px;
  bottom: 220px;
}

.centralattackingmidfielder {
  width: 3%;
  height: 12%;
  z-index: 10;
  position: absolute;
  left: 160px;
  bottom: 320px;
}

.leftwinger {
  width: 3%;
  height: 12%;
  z-index: 10;
  position: absolute;
  left: 50px;
  bottom: 320px;
}

.rightwinger {
  width: 3%;
  height: 12%;
  z-index: 10;
  position: absolute;
  left: 260px;
  bottom: 320px;
}

.striker {
  width: 3%;
  height: 12%;
  z-index: 10;
  position: absolute;
  left: 160px;
  bottom: 420px;
}

#section_goalkeeper {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
}

#section_leftback {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
}

#section_rightback {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
}

#section_leftcentreback {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
}

#section_rightcentreback {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
}

#section_midfielder1 {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
}

#section_midfielder2 {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
}

#section_attackingmidfielder {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
}

#section_leftwing {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
}

#section_rightwing {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
}